.feed-view .card{
    margin-bottom: 50px;
}
.tile img{
    margin: 5px;
}
.navbar{
    border-bottom: 1px solid rgb(207, 207, 207);
    margin-bottom: 20px;
}
h2{
    font-family: 'Grand Hotel', cursive;
}
.card i{
    margin-right: 10px;
}
.avatar {
    /* vertical-align: middle; */
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.row{
    margin-right: 0px;
}
.icons{
    margin-right: 15%;
}
.instagram{
    margin-left: 33%;
}
body{
    margin: 0;
}
